    body {
        background:#F9F7FE;
        display: block;
        margin: 0 auto;
    }

    div {
        color: black;
        max-width: 100%;
        margin: 50px auto;
        padding: 40px;
        border-radius: 16px;
        width: 550px;
        background: white;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
        box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.12);
    }

    h1 {
        margin-top: 10px;
        text-align: left;
        color: #ac493f;
    }

    h2 {
        padding: 10px;
        text-align: left;
        font-size: 22px;
        color: #292A28;
        font-family: "PT Mono",
            monospace;
    }

    .about-wattpad {
        line-height: 1.7;
        text-align: left;
        font-weight: 100;
    }

    .wattpad-link,.info {
        text-align: center;
    }

    .info {
        font-size: 16px;
        font-family: "PT Mono",monospace;
    }

    .info a {
        color: black;
        text-decoration: none;
    }

    .subject {
        text-decoration: underline #ac493f;
        color: #ac493f;
    }

    .wattpad-link a {
        text-decoration: underline;
        transition: all 150ms ease-in-out;
    }

    .wattpad-link a:hover {
        text-decoration: none;
    } 

    .about, .about a {
        color: black;
        font-size: 17px;
        text-align: center;
        text-decoration: none;
    }

    

    img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
    }

    button {
        background: #ac493f;
            color: white;
            display: block;
            margin: 30px auto;
            width: 80%;
            border-radius: 50px;
            border: none;
            font-size: 24px;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
                    "Lucida Sans", Arial, sans-serif;
            text-transform: uppercase;
            font-weight: bold;
            padding: 15px 20px;
            
        }

    button:hover {
        background:#b85b51;
        color: white;
        cursor: pointer;
        transition: all 150ms ease-in-out;
    }



   